
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    border: 2px solid;
    background-color: pink;

}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    padding: auto;
}

p {
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 50px;
}